h1
{
text-align:left;
margin-left:110px;
color: #ff3333;
font-family: Hangyaku;
font-size: 40px;
}

table
{
align:center;
background-color: #ff3333;
height:40px;
margin-left:100px;
width: 85%;
font-family:sans-serif;

}

tr
{
text-align:left;
color:#262626;
text-indent: 30px;
}

body
{
background-color:#262626;
}

@font-face {
font-family: "Hangyaku";
src: url("Hangyaku-Rp9YE.ttf");
}

th.Search
{
align: center;
font-size:200%;
}

table.AlphabetContent
{
display:inline-block;
margin-top:20px;
margin-left:80px;
width:25%;
height:400px;

}

input[type="radio" i]{
display:inline-block;
margin-left:40px;
}

input[type="checkbox" i]{
display:inline-block;
margin-left:40px;
}

textarea{
display:inline-block;
margin-left:40px;
}

a.HyperlinkNoFormat
{
text-decoration:none;
color:#262626;
}

td.AnimesInSearch
{
font-size:100%;
}

article.ContainerFormat
{
margin-left:6%;
}

hr.AnimeSearch
{
margin-top:1px;
margin-bottom:1px;
margin-left: 30px;
width:200px;
border-color: #262626;
}

table.ReviewFormatLeft
{
display:inline-block;
margin-top:20px;
width:25%;
height:450px
}

table.ReviewFormatRight
{
display:inline-block;
margin-top:20px;
margin-left:55px;
width:750px;
height:450px
}
